# 忽略 Vivado 工程生成的大型缓存和编译目录
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
.Xil/

# 忽略 Vivado 的日志、备份、进程和波形文件
*.jou
*.log
*.backup.*
*.str
*.wdb
*.wbp

# 忽略操作系统产生的垃圾文件
.DS_Store
Thumbs.db
desktop.ini

# 忽略包管理相关（如果你用到了）
node_modules/
package-lock.json